.container-fluid {
    overflow: hidden;
}

.map {
    position: absolute !important;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
}

.map strong {
    color: #2D3482;
}

ul.list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #2D3482;
}

ul.list a {
    position: absolute;
    right: 0;
    padding: 0 3px;
}

ul.list label {
    width: 43px;
    text-align: right;
}

ul.list.tool-tip label {
    width: 100px;
    font-weight: normal;
    font-size: 14px;
}